<%=provide(:title, "About")%>
<%=provide(:description, "Puppy Minimal Pairs is an iPad Speech Therapy application using pictures, audio recording, and video recording to create an immersive learning experience.")%>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="center-heading">
                <h2>Welcome to Puppy Minimal Pairs</h2>
                <span class="center-line"></span>
                <p>
                    Meet Jensie, a playful black lab puppy, who will help children practice minimal pair contrasts! This app is perfect for children with phonological processing disorders. They will achieve this while looking at fun and engaging pictures! Students can also take video and audio recordings of themselves saying each word and compare to a provided recording of each word for immediate feedback. All of this makes for an immersive and effective educational experience! Try initial consonant deletion for free! All other sections can be purchased one at a time based on your needs, or all at once up front for a discount!<br/><br/>
                    How does it work? First a selection is made depending on which section the student needs to work on. Once you are inside of a section you scroll through pairs. The image on the left represents the incorrect pronunciation of the word on the right. Press each word to highlight and hear the difference, then record the student attempting to say the word on the right. Compare the recording of the student with the left and right pronunciations to track progress, the closer the student's recording sounds to the right, the better!
                </p>
                    <img src=<%=asset_path('app-store.png')%> alt="" class="img-responsive wow animated fadeIn" data-wow-duration="700ms" data-wow-delay="100ms" style="display: block;margin: 40px auto">
            </div>
        </div>                   
    </div>
</div>
</html>