<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Puppy Minimal Pairs Speech Therapy App - Team</title>
    </head>
            
        <div class="divide80"></div>


        <div class="container">
            <div class="row">
                <div class="col-md-12 margin20">
                    <h3 class="heading">Little About our team</h3>
                    <p>
                        When Nicole saw Chris teaching himself iOS development, she mentioned she had a great idea for an app, and that got the ball rolling! They soon realized that dog photography is harder than it looked, and the app would greatly benefit from professional quality photos.  That's where Nikki came in! The Puppy Minimal Pairs team doesn't have a fancy office (or any office for that matter), a big budget for advertisements, or a large team. Nope, just three passionate people who decided to make something fun!
                    </p>                    
                </div>                
            </div><!--about intro-->
            <div class="divide60"></div>
            <div class="row">

                <div class="col-md-12 margin20">
                    <h3 class="heading">Meet the Team</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 margin20">
                    <div class="team-wrap">
                        <img src=<%=asset_path('colie.png')%> class="img-responsive" alt="">
                        <h4>Nicole Bush</h4>
                        <span>Professional Speech Language Pathologist</span>
                        <p>
                            Nicole is a certified speech-language pathologist originally from Illinois, but is now residing in Phoenix, Arizona.  She received her undergraduate degree in speech and hearing sciences from the University of Illinois at Urbana-Champaign.  She has her Masters in communication disorders from Arizona State University.  Nicole has been a practicing clinician for five years in the Phoenix area.  Her specialties are with providing articulation, phonological, and language services to preschoolers, children with Autism, and bilingual children.  Her main passion is finding new ways to make speech and language therapy fun and rewarding for all children and their families. Nicole lives with her two best friends, her husband and Jensie!
                        </p>
                    </div><!--team-wrap-->
                </div><!--team col-->
                <div class="col-md-3 margin20">
                    <div class="team-wrap">
                        <img src=<%=asset_path('Nikki.png')%> class="img-responsive" alt="">
                        <h4>Nikki Meier</h4>
                        <span>Photographer</span>
                        <p>
                         Nikki is a visual communications grad from FIDM and self taught photographer. She's always had a thing for clean lines, natural light and, of course, dogs. When Nikki's not working, you can find her on a bike exploring local Phoenix hot spots. Nikki also has a four-legged friend, Yoshi, who made the trek from Nebraska to the southwest with her. 
                        </p>
                    </div><!--team-wrap-->
                </div><!--team col-->
                <div class="col-md-3 margin20">
                    <div class="team-wrap">
                        <img src=<%=asset_path('chris.png')%> class="img-responsive" alt="">
                        <h4>Chris Pfeiffer</h4>
                        <span>Software Engineer</span>
                        <p>
                               Chris is a professional software engineer from Indianapolis. He is passionate about both web and mobile development. Chris has an engineering degree from Purdue and is currently working on his MBA in the Indiana Kelley School of Business Evening MBA Program. Chris enjoys running, cycling, and hanging out with his wife, Kylie, and his two dogs, Reggie and Pixie.
                        </p>
                    </div><!--team-wrap-->
                </div><!--team col-->
                <div class="col-md-3 margin20">
                    <div class="team-wrap">
                        <img src=<%=asset_path('jensie.jpg')%> class="img-responsive" alt="">
                        <h4>Jensie</h4>
                        <span>Model</span>
                        <p>
                            Jensie is a playful "Pitador" (black lab, pitbull mix) dog from Phoenix, Arizona.  He was rescued from the Humane Society when he was 7 months old. He has been the loving best friend of his parents for 3 years.  Jensie loves to go on walks, chase after his tennis ball, play with children, and pose for pictures.  He will work for dog treats, carrots, and belly rubs.  His main passion is chewing bones.
                        </p>
                    </div><!--team-wrap-->
                </div><!--team col-->
            </div>
            
            </div><!--team col-->
            </div>
        </div><!--team-->


       


    

